venv/
.env
.env.*
__pycache__
*.pyc
db.sqlite3
*.log
logs/
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace
learning_logs/migrations/
accounts/migrations/
.DS_Store
Thumbs.db
desktop.ini
*.mo
locale/
*.txt
*.csv
*.tmp
*.bak
